@{
    ViewData["Title"] = "Create | Edit";
}

@model TrackBudget.Models.Expense


<div class="text-center">
    <h1 class="display-4">Create Or Edit Expenses</h1>
</div>

<form asp-action="CreateEditExpenseForm">
        
   
    <input hidden class="form-control" type="number" asp-for="Id" placeholder="0" />

    <label class="mt-4">Price</label>
    <input class="form-control" type="number" asp-for="Value" placeholder="0" step="0.01" />

    <label class="mt-4">Description</label>
    <input class="form-control" type="text" asp-for="Description" placeholder="Bought Some Games...." />
        
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>