@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-action="Expenses" class="btn btn-outline-info">Oreview</a>
    <a asp-action="CreateEditExpense" class="btn btn-outline-secondary">Create | Edit Expense</a>
</div>
